<!DOCTYPE HTML>
<html>
<head>
<title>七剑客钱包</title>
<link href="__CSS__/style.css" rel="stylesheet" type="text/css" media="all"/>
<script type="text/javascript" src="/Public/Home/js/jquery.min.js"></script>
<script type="text/javascript" src="/Public/layer/layer.js"></script>
<script type="text/javascript" src="/Public/Home/js/jquery.cookies.2.2.0.js"></script>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<meta name="keywords" content="七剑客科技,钱包,手机钱包,比特币,虚拟币,虚拟币钱包,虚拟币手机钱包" />
<link href='http://fonts.googleapis.com/css?family=Signika:400,300,600,700' rel='stylesheet' type='text/css'>

<style type="text/css">
    .functionBtn{
    	    /*background: #C50000;*/
    	    background:#da7c7c;
		    font-size: 1em;
		    font-weight: 400;
		    font-family: 'Signika', sans-serif;
		    color: #fff;
		    padding: 0.4em 0.5em 0.5em 0.5em;
		    width: 38%;
		    text-align: center;
		    border-radius: 4px 4px 4px 4px;
		    margin-top:5px;
    }
</style>

</head>
<body>
<h1>七剑客手机钱包</h1>

<div class="subscribe">
   
   <!--自定义的按钮功能-->
   <div class="sub-box1" style="height:37px;padding-top:12px">
   	   <a href="/Mobile/Finance/myzc.html" class="functionBtn" style="margin-left:1%;" id="myzc">转出虚拟币</a>
   	   <a href="/Mobile/Finance/myzr.html" class="functionBtn" id="myzr">转入虚拟币</a>
   	   <a href="/Mobile/Finance/login.html" class="functionBtn" style="margin-left:17%;" id="login">登录</a>
   </div>

    <div class="subscribe">
		<div class="sub-box1 send">
			<h3>登录</h3>
			<div class="news">
			  	<form>
 
                    <input type="text" class="email" id="login_username" placeholder="用户名" onfocus="this.value = '';" >
			  		<input type="text" class="email" id="login_password"  placeholder="密码" onfocus="this.value = '';">

			  	</form>
		    </div>

	       	<input type="submit" value="登录" onclick="upLogin();" />
		</div>
    </div>


<div class="copyright">
	<p>CopyRight by<a href="http://www.qijianke.com/" target="_blank"> 七剑客科技 </a></p>
</div>	

<script>

//导航高亮
var myzr = document.getElementById('login');
myzr.style.background= '#C50000';

function upLogin() {

		var username = $("#login_username").val();
		var password = $("#login_password").val();
		var verify = $("#login_verify").val();
		if (username == "" || username == null) {
			layer.tips('请输入用户名', '#login_username', {tips: 3});
			return false;
		}
		if (password == "" || password == null) {
			layer.tips('请输入登录密码', '#login_password', {tips: 3});
			return false;
		}

		$.post("/Mobile/Finance/submit.html", {
			username: username,
			password: password,
			verify: verify,
		}, function (data) {
			if (data.status == 1) {
				$.cookies.set('cookie_username', username);
				layer.msg(data.info, {icon: 1});
				window.location = '/Mobile/Finance/index';
			} else {
				//刷新验证码
				$(".reloadverifyindex").click();
				layer.msg(data.info, {icon: 2});
				if (data.url) {
					window.location = data.url;
				}
			}
		}, "json");
	}

</script>

</body>
</html>