<include file="Public:header" />

    <div class="subscribe">
		<div class="sub-box1 send">
			<h3>注册--实名认证</h3>
			<div class="news">
			  	<form>
                    <input type="text"  class="email inputPassword" id="regtruename" name="regtruename" placeholder="真实姓名" onfocus="this.value = '';">

                    <select id="regidcardtype" style="height:35px;width:25%;border:none;border-radius:4px;outline:none;-webkit-appearance: none;box-shadow: 0px 0px 7px 0px rgba(153, 153, 153, 0.41);">
						<option style="color:#878787;">证件类型</option>
                     	<option style="color:#878787;" value="1" selected>身份证</option>
                     	<option style="color:#878787;" value="2">护  照</option>
                    </select>

                    <input type="text" class="username inputPassword" style="width:65%;" id="regidcard" name="regidcard" placeholder="证件号码" onfocus="this.value = '';">

			  	</form>
		    </div>

	       	<input type="submit" value="下一步" onclick="Update();" />
		</div>
    </div>

<include file="Public:footer" />


<script type="text/javascript">

    //导航高亮
    var myzr = document.getElementById('myregister');
    myzr.style.background= '#C50000';

    //更新实名认证信息
    function Update(){
    	var truename=$("#regtruename").val();
		var idcardtype=$("#regidcardtype").val();
		var idcard=$("#regidcard").val();

		if(truename==null||truename==""){
			//formMsg('truename', 0, '请输入真实姓名');
			return false;
		}
		if(idcard==null||idcard==""){
			//formMsg('idcard', 0, '请输入{:L('login.zhengjianhao')}');
			return false;
		}


		$.post("{:U('/Home/Login/upregister3')}",{truename:truename,idcardtype:idcardtype,idcard:idcard},function(data){
			if(data.status==1){
				layer.msg(data.info,{icon:1});
				window.location='/Home/Login/register4';
			}else{
				layer.msg(data.info,{icon:2});
				if(data.url){
					window.location=data.url;
				}
			}
		},"json");
    }
    

</script>


</html>
</body>