<include file="Public:header" />

    <div class="subscribe">
		<div class="sub-box1 send">
			<h3>注册--用户名注册</h3>
			<div class="news">
			  	<form>
                    <input type="email"  class="email inputPassword" id="regtruename" name="regtruename" placeholder="交易密码" onfocus="this.value = '';">


                    <input type="email" class="email inputPassword" id="regidcard" name="regidcard" placeholder="重复交易密码" onfocus="this.value = '';">
			  	</form>
		    </div>

	       	<input type="submit" value="登录" onclick="Update();" />
		</div>
    </div>

<include file="Public:footer" />


<script type="text/javascript">

    //导航高亮
    var myzr = document.getElementById('myregister');
    myzr.style.background= '#C50000';



</script>


</html>
</body>