<include file="Public:header" />

	<div class="sub-box1 send">
		<h3>个人账户详情</h3>

        <div class="news" style="color:#878787;">

	        <table>
	            <thead>
		        	<tr>
		        		<th>币种</th>
		        		<th>可用额</th>
		        		<th>冻结</th>
		        		<!--
		        		<th>总计</th>
		        		<th>折合(￥)</th>
		        		-->
		        		<th>操作</th>
		        	</tr>
	        	</thead>
	        	<tbody>

                    <!--头部固定加入的人民币信息开始-->
                    
                    <!--
                    <tr>
	        			<td>
	        				<img src="__PUBLIC__/Home/images/coin_rmb.png" class="img" style="float:left;" />
	        				<span style="float:left;">(CNY)</span>
	        			</td>
	        			<td class="num">￥{$cny['ky']|NumToStr}</td>
	        			<td class="num" colspan="2">￥{$cny['dj']|NumToStr}</td>
	        		</tr>
	        		-->
                    <!--头部固定加入的人民币信息结束-->

                    <volist name="coinList" id="vo">
	        		<tr>
	        			<td>
	        				<img src="__UPLOAD__/coin/{$vo['img']}" class="img" style="float:left;" />
	        				<span style="float:left;" >({$vo['title']})</span>
	        			</td>
	        			<td class="num">{$vo['xnb']|NumToStr}</td>
	        			<td class="num">{$vo['xnbd']|NumToStr}</td>
	        			<td class="operate">
	        				<a href="/Home/Trade/index/market/{$vo.name}_cny" class="functionBtn"  style="width:25px;background-color:#C50000;" ></a>
	        			</td>
	        		</tr>
					</volist>

	        	</tbody>
	        </table>
	    </div>

	</div>

</div>

<include file="Public:footer" />

<style type="text/css">
	table{
    	width:100%;
    }

    th,td{
    	text-align:center;
    	height:33px;
    	line-height:37px;
    }

    td{
    	border:1px solid red;
    }

    .icon,.coin,.num,.operate{
		vertical-align:middle;
    }

    .img{
    	width:30px;
    	border:none;
    	border-radius:10px;
    }
</style>


</body>
</html>