
<include file="Public:header" />

	<div class="sub-box1 send">
		<h3>个人账户详情</h3>

        <div class="news" style="color:#878787;">

	        <table>
	            <thead>
		        	<tr>
		        		<th>币种</th>
		        		<th>可用余额</th>
		        		<th>冻结委托</th>
		        		<th>操作</th>
		        		<!--
		        		<th>总计</th>
		        		<th>折合(￥)</th>
		        		-->
		        	</tr>
	        	</thead>
	        	<tbody>

                    <!--头部固定加入的人民币信息开始-->
                    <!--
                    <tr>
	        			<td>
	        				<img src="__PUBLIC__/Home/images/coin_rmb.png" class="img" />
	        				<span>(CNY)</span>
	        			</td>
	        			<td class="num">￥{$cny['ky']|NumToStr}</td>
	        			<td class="num">￥{$cny['dj']|NumToStr}</td>
	        			<td class="num">去充值</td>
	        		</tr>
	        		-->
                    <!--头部固定加入的人民币信息结束-->


                    <volist name="coinList" id="vo">
	        		<tr>
	        			<td>
	        				<img src="__UPLOAD__/coin/{$vo['img']}" class="img" />
	        				<span>({$vo['title']})</span>
	        			</td>
	        			<td class="num">{$vo['xnb']|NumToStr}</td>
	        			<td class="num">{$vo['xnbd']|NumToStr}</td>
                        
                        <td>
                        <!--
               <input type="button" value="去交易"  onclick="top.location='"  />
               -->
                        <a href="/trade/index/market/{$vo.name}_cny'"  style="float:left;background-color:#da7c7c;">去交易</a>
                         </td>
         
	        		</tr>
					</volist>

	        	</tbody>
	        </table>
	    </div>

	</div>

</div>


<include file="Public:footer" />

<style type="text/css">

    table{
    	width:100%;
    }

    th,td{
    	text-align:center;
    }

    .icon,.coin,.num{
		vertical-align:middle;
    }

    .img{
    	width:30px;
    	border:none;
    	border-radius:10px;
    	float:left;
    }

    tr{
    	height:40px;
    	width:100%;
    }

    td span{
    	float:left;
    	height:35px;
    	line-height: 35px;
    }

    a{
    	height:35px;
    	line-height: 35px;
    	font-family: 'Signika', sans-serif;
    	color:#878787;
    	border-radius:2px;
    }

</style>


</body>
</html>