<include file="Public:header"/>
<div id="main-content">
	<div id="top-alert" class="fixed alert alert-error" style="display: none;">
		<button class="close fixed" style="margin-top: 4px;">&times;</button>
		<div class="alert-content">警告内容</div>
	</div>
	<div id="main" class="main">
		<div>
			<div class="main-title-h">
				<span class="h1-title">用户联系地址</span>
			</div>
			<div class="cf">
				<div class="search-form fr cf">
					<div class="sleft">
						<form name="formSearch" id="formSearch" method="get" name="form1">
							<input type="text" name="name" class="search-input" value="{$Think.get.name}" placeholder="请输入用户名">
							<a class="sch-btn" href="javascript:;" id="search"> <i class="btn-search"></i>
							</a>
						</form>
						<script>
							//搜索功能
							$(function(){
								$('#search').click(function(){
									$('#formSearch').submit();
								});
							});
							//回车搜索
							$(".search-input").keyup(function(e){
								if(e.keyCode===13){
									$("#search").click();
									return false;
								}
							});
						</script>
					</div>
				</div>
			</div>
		</div>

		<div class="data-table table-striped">
			<table class="">
				<thead>
				<tr>
					<th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
					<th class="">ID</th>
					<th class="">用户名</th>
					<th>备注名称</th>
					<th>真实姓名</th>
					<th>身份证号</th>
					<th>联系电话</th>
					<th>联系地址</th>
					<th>添加时间</th>

				</tr>
				</thead>
				<tbody>
				<notempty name="list">
					<volist name="list" id="vo">
						<tr>
							<td><input class="ids" type="checkbox" name="id[]" value="{$vo.id}"/></td>
							<td>{$vo.id}</td>
							<td>{$vo['username']}</td>
							<td>{$vo.name}</td>
							<td>{$vo.truename}</td>
							<td>{$vo.idcard}</td>
							<td>{$vo.moble}</td>
							<td>{$vo.addr}</td>
							<td>{$vo.addtime|addtime}</td>
						</tr>
					</volist>
					<else/>
					<td colspan="12" class="text-center">Oh! 暂时还没有内容!</td>
				</notempty>
				</tbody>
			</table>
			<div class="page">
				<div>{$page}</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	//搜索功能
	$(function () {
		$('#search').click(function () {
			$('#formSearch').submit();
		});
	});
	//回车搜索
	$(".search-input").keyup(function (e) {
		if (e.keyCode === 13) {
			$("#search").click();
			return false;
		}
	});
</script>
<script type="text/javascript">
	$(function () {
		//主导航高亮
		$('.user-box').addClass('current');
		//边导航高亮
		$('.user-bank').addClass('current');
	});
</script>
<include file="Public:footer"/>